Summary
<table border='1'>
	<tr>
		{% for element in sizeOrder %}
			<th>{{element}}</th>
		{% endfor %}
	</tr>
	<tr>
		{% for element in sizeOrder %}
			<td>{{sizeDic[element]}}</td>
		{% endfor %}
	</tr>
</table>
<br>
Buyers info
<table border='1'>
	<tr>
		<th>buyer name</th>
		<th>email</th>
		<th>size</th>
		<th>quantity</th>
	<tr>
	{% for i in range((sale.buyersList | length)) %}
		<tr>
			<td>{{nameList[i]}}</td>
			<td>{{emailList[i]}}</td>
			<td>{{sale.sizeList[i]}}</td>
			<td>{{sale.quantityList[i]}}</td>
			
		</tr>
	{% endfor %}
</table>
<a href="/Sells">Back</a>