<table border='1'>
	<tr>
    	<th colspan="3">Size XS</th>
    	<th colspan="3">Size S</th>
    	<th colspan="3">Size M</th>
    	<th colspan="3">Size L</th>
    	<th colspan="3">Size XL</th>
    	{% if canEdit %}
    	<th rowspan="2">update supplier</th>
    	{% endif %}
  	</tr>
  	<tr>
  		<th>chest</th>
  		<th>shoulder</th>
  		<th>length</th>
  		<th>chest</th>
  		<th>shoulder</th>
  		<th>length</th>
  		<th>chest</th>
  		<th>shoulder</th>
  		<th>length</th>
  		<th>chest</th>
  		<th>shoulder</th>
  		<th>length</th>
  		<th>chest</th>
  		<th>shoulder</th>
  		<th>length</th>
  	</tr>
	<tr>
		<form action="/editSaleMeasurement" method="post">
		<td><input type="number" name="XSchest" value="{{measurement[0]}}" {% if not canEdit %}readonly{% endif %}/></td>
		<td><input type="number" name="XSshoulder" value="{{measurement[1]}}" {% if not canEdit %}readonly{% endif %}/></td>
		<td><input type="number" name="XSlength" value="{{measurement[2]}}" {% if not canEdit %}readonly{% endif %}/></td>
		<td><input type="number" name="Schest" value="{{measurement[3]}}" {% if not canEdit %}readonly{% endif %}/></td>
		<td><input type="number" name="Sshoulder" value="{{measurement[4]}}" {% if not canEdit %}readonly{% endif %}/></td>
		<td><input type="number" name="Slength" value="{{measurement[5]}}" {% if not canEdit %}readonly{% endif %}/></td>
		<td><input type="number" name="Mchest" value="{{measurement[6]}}" {% if not canEdit %}readonly{% endif %}/></td>
		<td><input type="number" name="Mshoulder" value="{{measurement[7]}}" {% if not canEdit %}readonly{% endif %}/></td>
		<td><input type="number" name="Mlength" value="{{measurement[8]}}" {% if not canEdit %}readonly{% endif %}/></td>
		<td><input type="number" name="Lchest" value="{{measurement[9]}}" {% if not canEdit %}readonly{% endif %}/></td>
		<td><input type="number" name="Lshoulder" value="{{measurement[10]}}" {% if not canEdit %}readonly{% endif %}/></td>
		<td><input type="number" name="Llength" value="{{measurement[11]}}" {% if not canEdit %}readonly{% endif %}/></td>
		<td><input type="number" name="XLchest" value="{{measurement[12]}}" {% if not canEdit %}readonly{% endif %}/></td>
		<td><input type="number" name="XLshoulder" value="{{measurement[13]}}" {% if not canEdit %}readonly{% endif %}/></td>
		<td><input type="number" name="XLlength" value="{{measurement[14]}}" {% if not canEdit %}readonly{% endif %}/></td>

		{% if canEdit %}
		<td>
			
				<input type="hidden" name="key" value="{{key}}" >
				<input type="submit" value="update">
			
		</td>
		</form>

		{% endif %}
	</tr>
</table>